<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.base.mapper.AccountflowMapper">
  <resultMap id="BaseResultMap" type="com.demo.p2p.base.pojo.Accountflow">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="accountActionType" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="note" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="balance" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="freezed" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="actionTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="account_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="standbyone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="standbytwo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="standbythree" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="standbyfour" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    </constructor>
  </resultMap>
</mapper>