<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.p2p.base.mapper.IplogMapper">
  <resultMap id="BaseResultMap" type="com.demo.p2p.base.pojo.Iplog">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="loginState" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="loginInfoId" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="loginType" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="loginTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="standbyone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="standbytwo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="standbythree" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="standbyfour" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    </constructor>
  </resultMap>
</mapper>